%h3
  Alexandra's Attendants
.left
  %ul
    %li
      %b
        Cristina Worrel,
      Matron of Honor -- Best friend and sister I could possibly have
    %li
      %b
        Nathaniel Worrel,
      Ring Bearer -- The oldest stud of a nephew that will lead the pack down the aisle.
    %li
      %b
        Benjamin Worrel,
      Ring Bearer -- The youngest stud nephew that will also hold ring responsibilities.
%h3
  Bryce's Attendants
.left
  %ul
    %li
      %b
        Patrick Petty,
      Best Man -- Bryce's Best friend and partner in crime from good old Teays Valley High School
    %li
      %b
        Roma Berkheimer,
      Flower Girl -- Bryce's adorable niece will be at the 2 year old mark at the time of the wedding. I am sure she will dominate the aisle with the boys.
