.left
  We have set aside a block of rooms three Columbus area hotels.
  %br
  Listed by proximity to wedding and reception location (Closest to Farthest):
  %ol
    %li
      %b
        The Hampton Inn
      %br
      501 N. High St.
      %br
      Columbus, Ohio 43215
      %br
      (614) 559-2000 or online at:
      %a{ :href => "http://www.hamptoninn.com/hi/columbus-downtown" }
        Hampton Inn Reservations
      %br
      Reservation Code:
      %b
        GTW
      %br
    %p
      %li
        %b
          Red Roof Inn
        %br
        605 S. Front St.
        %br
        Columbus, Ohio 43215
        %br
        (614) 224-6539
        %br
        Reservation Code:
        %b
          B262GULTHO
    %p
      %li
        %b
          Courtyard by Marriott
        %br
        35 W. Spring
        %br
        Columbus, Ohio 43215
        %br
        (614) 228-3200 or online at:
        %a{ :href => "http://www.courtyardcolumbusdowntown.com" }
          Courtyard by Marriott Reservations
        %br
        Reservation Codes:
        %br
        \&nbsp;&nbsp;&nbsp;
        %b
          GTWGTWA
        for a room with a King bed
        %br
        \&nbsp;&nbsp;&nbsp;
        %b
          GTWGTWB
        for a room with two Double beds
        %br
