%a{:href => 'http://www.flickr.com/photos/brycethornton/2296864370/', :title => 'In Miami'}
  %img{:src => 'http://farm4.static.flickr.com/3296/2296864370_3bfdff5000.jpg'}
%p 
  Welcome to our wedding website!  We hope this site provides you with enough information to get ready for the big day.  
  If you have any questions please feel free to 
  %a{:href => '/contact'}contact
  us.
%h3 General Information
Where: The Smith Brother's Hardware Building, Columbus, OH
%br
When: June 6th, 2009 at 5:30 PM (
= @days_left
)
