%a{ :href => "http://www.flickr.com/photos/brycethornton/717975154/", :title => "At the Mariners/Blue Jays Game by brycethornton, on Flickr" }
  %img{ :src => "http://farm2.static.flickr.com/1184/717975154_05b1397482.jpg", :height => "375", :alt => "At the Mariners/Blue Jays Game", :width => "500" }
%br
%a{ :href => "http://www.flickr.com/photos/brycethornton/2116634798/", :title => "Alex's Graduation by brycethornton, on Flickr" }
  %img{ :src => "http://farm3.static.flickr.com/2037/2116634798_90320c4005.jpg", :height => "375", :alt => "Alex's Graduation", :width => "500" }
%br
%a{ :href => "http://www.flickr.com/photos/brycethornton/1046088429/", :title => "Yet Another Self Pic by brycethornton, on Flickr" }
  %img{ :src => "http://farm2.static.flickr.com/1068/1046088429_61304b437f.jpg", :height => "375", :alt => "Yet Another Self Pic", :width => "500" }
%br
%a{ :href => "http://www.flickr.com/photos/brycethornton/634765953/", :title => "In Our SF Hostel by brycethornton, on Flickr" }
  %img{ :src => "http://farm2.static.flickr.com/1109/634765953_f30e8a5c84.jpg", :height => "375", :alt => "In Our SF Hostel", :width => "500" }
%br
%a{ :href => "http://www.flickr.com/photos/brycethornton/2296870134/", :title => "Canopy Tour of Costa Rican Rainforest by brycethornton, on Flickr" }
  %img{ :src => "http://farm4.static.flickr.com/3091/2296870134_83e94fc457.jpg", :height => "375", :alt => "Canopy Tour of Costa Rican Rainforest", :width => "500" }
%br
%a{ :href => "http://www.flickr.com/photos/brycethornton/635612990/", :title => "On Campus At HSU by brycethornton, on Flickr" }
  %img{ :src => "http://farm2.static.flickr.com/1214/635612990_70bfbb6b2f.jpg", :height => "375", :alt => "On Campus At HSU", :width => "500" }
%br
%a{ :href => "http://www.flickr.com/photos/brycethornton/634743575/", :title => "Alex &amp; I After the Brewery Tour by brycethornton, on Flickr" }
  %img{ :src => "http://farm2.static.flickr.com/1418/634743575_aadf1e5ca5.jpg", :height => "375", :alt => "Alex &amp; I After the Brewery Tour", :width => "500" }
